[submodule "OpenGL_Demo/vendor/GLFW"]
	path = OpenGL_Demo/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "OpenGL_Demo/vendor/GLAD"]
	path = OpenGL_Demo/vendor/GLAD
	url = https://github.com/Dav1dde/glad
[submodule "OpenGL_Demo/vendor/GLM"]
	path = OpenGL_Demo/vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "OpenGL_Demo/vendor/spdlog"]
	path = OpenGL_Demo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OpenGL_Demo/vendor/assimp"]
	path = OpenGL_Demo/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "OpenGL_Demo/vendor/ImGui"]
	path = OpenGL_Demo/vendor/ImGui
	url = https://github.com/ocornut/imgui
